<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ recipe.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-fab-button (click)="return()" color="danger"> <ion-icon name="close-outline"></ion-icon> </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>  
    <ion-item>
      <ion-label>
        <h2>{{"numberOfPeople" | translate}}:</h2>
        <p>{{ recipe.numberOfPersons }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>{{"ingredients" | translate}}:</h2>
        <p *ngFor="let ingredient of recipe.ingredients; let i = index">{{ ingredient }}</p>
      </ion-label>
      <ion-fab-button (click)="copyIngredients()">
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-fab-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>{{"steps" | translate}}:</h1>
      </ion-label>
      <ion-buttons *ngIf="recipe.steps.length > 0">
        <ion-fab-button (click)="showFirstStep()" color="primary"> <ion-icon name="arrow-redo-outline"></ion-icon> </ion-fab-button>
      </ion-buttons>
    </ion-item>
    <ion-item *ngFor="let step of recipe.steps; let i = index">
      <ion-label>
        <h2 >{{"step" | translate}} {{ i + 1 }}: {{ step }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" horizontal="start" vertical="bottom">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="areYouSure()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="deleteModal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="light">
          <ion-title>{{"reallyDeleteRecipe" | translate}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="deleteButton">
          <ion-row>
            <ion-col size="6">
              <ion-text>
                <ion-button expand="full" (click)="deleteRecipe()">{{"yes" | translate}}</ion-button>
              </ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text>
                <ion-button expand="full" (click)="cancel()">{{"no" | translate}}</ion-button>
              </ion-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="editModal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="light">
          <ion-title>{{"editRecipe" | translate}}</ion-title>
          <ion-buttons slot="end">
            <ion-fab-button (click)="cancel()" color="danger"> <ion-icon name="close-outline"></ion-icon> </ion-fab-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">{{ "recipeName" | translate }}</ion-label>
            <ion-input [(ngModel)]="recipeName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ "numberOfPeople" | translate }}</ion-label>
            <ion-input [(ngModel)]="numberOfPersons" label=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ "ingredients" | translate }}</ion-label>
            <ion-textarea [(ngModel)]="ingredients" rows="5"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ "steps" | translate }}</ion-label>
            <ion-textarea [(ngModel)]="steps" rows="5"></ion-textarea>
          </ion-item>
        </ion-list>
        <ion-button expand="full" (click)="editRecipe()">{{"editRecipe" | translate}}</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>