<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{"step" | translate}} {{step+1}}. {{ recipe.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-fab-button (click)="return()" color="danger"> <ion-icon name="close-outline"></ion-icon> </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <h2 >{{ recipe.steps[step] }}</h2>
    </ion-label>
  </ion-item>
  <ion-item >
    <ion-buttons *ngIf="step > 0">
      <ion-fab-button (click)="showPreviousStep()" color="primary"> <ion-icon name="arrow-back-outline"></ion-icon> </ion-fab-button>
    </ion-buttons>
    <ion-buttons *ngIf="step == 0">
      <ion-fab-button (click)="return()" color="primary"> <ion-icon name="arrow-back-outline"></ion-icon> </ion-fab-button>
    </ion-buttons>
    <ion-buttons *ngIf="recipe.steps.length > step+1">
      <ion-fab-button (click)="showNextStep()" color="primary"> <ion-icon name="arrow-forward-outline"></ion-icon> </ion-fab-button>
    </ion-buttons>
  </ion-item>
</ion-content>
