<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{"cookbook" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let recipe of recipes" (click)="openRecipe(recipe)">
      <ion-label>
        <h2>{{recipe.name}}</h2>
        <p>{{"numberOfPeople" | translate}}: {{recipe.numberOfPersons}}</p>
        <p class="ingredientsCrop">{{"ingredients" | translate}}: {{formatIngredients(recipe.ingredients)}}</p>
      </ion-label>
    </ion-item>
  </ion-list>  

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="newRecipe()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-modal [isOpen]="openNewRecipe" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="light">
          <ion-title>{{"newRecipe" | translate}}</ion-title>
          <ion-buttons slot="end">
            <ion-fab-button (click)="cancel()" color="danger"> <ion-icon name="close-outline"></ion-icon> </ion-fab-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">{{ "recipeName" | translate }}</ion-label>
            <ion-input [(ngModel)]="recipeName" placeholder="{{ 'nameOfRecipe' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ "numberOfPeople" | translate }}</ion-label>
            <ion-input [(ngModel)]="numberOfPersons" placeholder="{{ 'howManyPeople' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ "ingredients" | translate }}</ion-label>
            <ion-textarea rows="5" [(ngModel)]="ingredients" placeholder="{{ 'listOfIngredients' | translate }}"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ "steps" | translate }}</ion-label>
            <ion-textarea rows="5" [(ngModel)]="steps" placeholder="{{ 'listOfSteps' | translate }}"></ion-textarea>
          </ion-item>
        </ion-list>
      <ion-button expand="full" (click)="addRecipe()">{{ "addRecipe" | translate }}</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
